.ilk_link {
    text-decoration: none;
    color: red;
}

.button {
  border: 3px solid black;
  border-radius: 10px;
  background-color: darkred;
  color: white;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease; 

}

.button:hover {
    color: purple;
    background-color: black;
}